<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Клиенты</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>

<h1>Клиенты</h1>

<table>
    <tr>
        <th>Id</th>
        <th>ФИО</th>
        <th>Телефон</th>
    </tr>
    <tr th:each="client :${clients}">
        <td th:text="${client.getClientId()}"></td>
        <td>
            <span th:text="${client.getSurname()}"></span>
            <span th:text="${client.getName()}"></span>
            <span th:text="${client.getPatronymic()}"></span>
        </td>
        <td th:text="${client.getPhone()}"></td>
    </tr>
</table>
</body>
</html>